<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="employee" class="vn.topica.spring.read.csv.entity.Employee">
        <property name="id" value="1"></property>
        <property name="birth" value=""></property>
        <property name="gender" value=""></property>
        <property name="name" value=""></property>
    </bean>
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/topica" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>
    <bean id="employeeDao" class="vn.topica.spring.read.csv.dao.EmployeeDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>